.navbar-def {
background-color: #315688;
border-color: #e7e7e7;
}
.navbar2 {
position: relative;
min-height: 80px;
}
.navbar-bra {
float: left;
height: 80px;
padding: 10px;
width: 13%;
font-size: 14px;
color:white;
background-color: red;
}
.btn-default_n {
color: #333;
background-color: #315688;
padding: 10px 15px;
}
.navbar_left2 {
background: #696358;  
height: 100%;
position: absolute;
width: 13%;
<!-- Сделать относительные -->
}
.about{
text-transform: uppercase;
margin-left:200px;
position: relative;
}

.s123{
position: relative;
margin-left:200px;   
}

.container-fluid{
position: relative;
margin-left:200px;
}


.for_about{

display: block;
}

.nav-pills2>li>a {
border-radius: 4px;
margin:15px;
text-transform: uppercase;
color: #fff;
}
.nav>li>a {
position: relative;
display: block;
padding: 10px 15px;
}
a {
color: #337ab7;
text-decoration: none;
}
